NEXT_PUBLIC_SITE_URL=https://duonerds.online
NEXT_PUBLIC_CONTACT_EMAIL=contact@duonerds.online
NEXT_PUBLIC_DISCORD_URL=https://discord.com/app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

